/* Generics */

body {
  background: linear-gradient(to bottom,
     green 20%, black 20% 80%);
     background-repeat: no-repeat;
     height: 100vh;
     padding-top: 40px;
     padding-left: 21%;

}

/* Utilities */

header {
    height: 15%;
   display: flex;
   vertical-align: middle;
   padding: 1%;
   background-color: grey;
   border: 0.5px solid beige;
}

/* Container and row */

#maincont {
    height: 567px;
    width: 60vw;
    padding: 0;
    margin: 0;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
 } 

.mainrow {
    height: 100%;
}

/* Sidebar */

.sidebar {
    height: 567px;
    width: 25vw;
    margin-right: 0;
    padding: 0;
    margin: 0;
    margin-left: 1.3%;

}

.notifications {

    height: 15%;
    background-color: dodgerblue;
    margin: 0;
    padding: 0;
}

.chats {
    margin-top: 40%;
    height: 70%;
    background-color: white;
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    margin: 0;
    padding: 0;
}

/* Right side */

.zappbody {
    height: 567px;
    margin: 0;
    width: 35vw;
    padding: 0;
    margin: 0;
}

#profpic {
    width: 60px;
    margin: 0;
    padding: 0;
    border-radius: 50%;
}
/* zappbody messages section */
main {
    height: 76.2%;
    background-image: url(img/mine.jpg);
}

footer {
    height: 30%;
}

#txt {
    height: 30%;;
    width: 35vw;
    text-align: left;
    padding: 1%;
}
